In [1]:
import pandas as pd

In [2]:
#df1 = pd.read_csv("yellow_tripdata_2014-11.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
#df2 = pd.read_csv("yellow_tripdata_2014-12.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [35]:
#df3 = pd.read_csv("yellow_tripdata_2015-01.csv")

In [45]:
#df4 = pd.read_csv("yellow_tripdata_2015-02.csv")

In [53]:
#df5 = pd.read_csv("yellow_tripdata_2015-03.csv")

In [61]:
#df6 = pd.read_csv("yellow_tripdata_2015-04.csv")

In [69]:
#df7 = pd.read_csv("yellow_tripdata_2015-07.csv")

In [77]:
df8 = pd.read_csv("yellow_tripdata_2015-08.csv")

In [ ]:
df9 = pd.read_csv("yellow_tripdata_2015-09.csv")

In [ ]:
df10 = pd.read_csv("yellow_tripdata_2015-10.csv")

In [ ]:
df11 = pd.read_csv("yellow_tripdata_2015-11.csv")

In [ ]:
df12 = pd.read_csv("yellow_tripdata_2015-12.csv")

In [ ]:
df13 = pd.read_csv("yellow_tripdata_2016-01.csv")

In [ ]:
df14 = pd.read_csv("yellow_tripdata_2016-02.csv")

In [ ]:
df15 = pd.read_csv("yellow_tripdata_2016-03.csv")

In [ ]:
df16 = pd.read_csv("yellow_tripdata_2016-04.csv")

In [ ]:
df17 = pd.read_csv("yellow_tripdata_2016-05.csv")

In [ ]:
df18 = pd.read_csv("yellow_tripdata_2016-06.csv")

In [70]:
df = df7

In [71]:
ki = df[(40.7635 <= df["pickup_latitude"]) & (df["pickup_latitude"] < 40.7645) \
   & (-73.9735 <= df["pickup_longitude"]) & (df["pickup_longitude"] < -73.9725)]

In [72]:
ki2 = ki[ki["tip_amount"] == 25.0]

In [73]:
ki2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
3574069,1,2015-07-06 17:10:24,2015-07-06 17:24:17,1,2.4,-73.973404,40.763901,1,N,-73.999619,40.747524,1,11.0,1.0,0.5,25.0,0.0,0.3,37.8
7162390,1,2015-07-20 16:33:20,2015-07-20 16:48:24,1,2.4,-73.973206,40.764191,1,N,-74.000359,40.747631,1,11.5,1.0,0.5,25.0,0.0,0.3,38.3
7530407,1,2015-07-21 16:00:09,2015-07-21 16:30:48,1,8.4,-73.973145,40.763721,1,N,-74.008698,40.714233,1,29.5,1.0,0.5,25.0,0.0,0.3,56.3
10592655,1,2015-07-29 16:36:17,2015-07-29 16:57:09,2,2.3,-73.973419,40.764160,1,N,-74.000038,40.747169,1,14.0,1.0,0.5,25.0,0.0,0.3,40.8

In [74]:
rv = rv.append(ki2)

In [75]:
rv

,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,mta_tax,passenger_count,payment_type,pickup_datetime,pickup_latitude,pickup_longitude,...,pickup_latitude,pickup_longitude,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance,vendor_id
1081642,2014-11-19 18:21:00,40.644667,-73.797453,52.0,0.5,1.0,CRD,2014-11-19 17:17:00,40.763640,-73.973473,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VTS
3532731,2014-11-18 18:09:11,40.747615,-73.999942,14.0,0.5,2.0,CRD,2014-11-18 17:48:18,40.763883,-73.973314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CMT
5022524,2014-11-24 16:48:36,40.747844,-74.000472,10.5,0.5,2.0,CRD,2014-11-24 16:35:18,40.763783,-73.973270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CMT
11576027,2014-11-12 18:10:44,40.747607,-74.000648,16.0,0.5,1.0,CRD,2014-11-12 17:45:44,40.763905,-73.973278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CMT
11715068,2014-11-13 18:02:47,40.744087,-73.995233,17.0,0.5,2.0,CRD,2014-11-13 17:36:11,40.763847,-73.973201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CMT
885734,2014-12-30 18:03:57,40.746325,-74.001493,20.0,0.5,2.0,CRD,2014-12-30 17:33:19,40.764407,-73.973259,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CMT
4258458,2014-12-17 17:40:04,40.744084,-73.995769,13.0,0.5,2.0,CRD,2014-12-17 17:21:21,40.763999,-73.973291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CMT
4331947,2014-12-17 19:04:39,40.719348,-74.041343,65.0,0.0,1.0,CRD,2014-12-17 18:01:05,40.764420,-73.972905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CMT
5511905,2014-12-22 18:07:09,40.744435,-73.995268,13.0,0.5,2.0,CRD,2014-12-22 17:47:13,40.763892,-73.973331,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CMT
7991425,2014-12-08 17:10:11,40.747583,-74.000051,11.0,0.5,2.0,CRD,2014-12-08 16:56:16,40.764030,-73.973259,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CMT
2643411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.763618,-73.973236,N,25.0,0.0,44.8,2015-01-12 18:12:59,2015-01-12 17:44:08,2.6,NaN
4497292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.763844,-73.973190,N,25.0,0.0,37.3,2015-01-28 18:08:31,2015-01-28 17:54:49,2.4,NaN
10007196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.764328,-73.973328,N,25.0,0.0,38.8,2015-02-18 17:51:30,2015-02-18 17:34:51,2.4,NaN
11893986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.764030,-73.973068,N,25.0,0.0,37.8,2015-02-02 17:30:47,2015-02-02 17:17:08,2.4,NaN
309808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.763920,-73.973297,N,25.0,0.0,35.8,2015-03-20 12:31:08,2015-03-20 12:16:36,1.5,NaN
3225189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.764023,-73.973366,N,25.0,0.0,39.3,2015-03-04 17:26:25,2015-03-04 17:09:57,2.4,NaN
8275258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.764248,-73.973465,N,25.0,0.0,43.3,2015-03-11 18:44:31,2015-03-11 18:18:47,2.4,NaN
10433365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.763580,-73.973366,N,25.0,0.0,41.8,2015-03-24 18:05:23,2015-03-24 17:42:32,2.3,NaN
12990893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.764153,-73.973358,N,25.0,0.0,42.3,2015-03-19 17:49:36,2015-03-19 17:26:20,2.3,NaN
3111374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.764034,-73.973282,N,25.0,0.0,38.8,2015-04-21 17:48:30,2015-04-21 17:32:25,2.4,NaN
4140278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.763981,-73.973129,N,25.0,0.0,37.8,2015-04-20 17:13:57,2015-04-20 16:59:06,2.4,NaN
9798822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.764038,-73.973267,N,25.0,0.0,37.8,2015-04-16 17:14:28,2015-04-16 17:00:01,2.4,NaN
11369850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.764175,-73.973145,N,25.0,0.0,38.3,2015-04-13 17:04:51,2015-04-13 16:49:47,2.4,NaN
3574069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.763901,-73.973404,N,25.0,0.0,37.8,2015-07-06 17:24:17,2015-07-06 17:10:24,2.4,NaN
7162390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.764191,-73.973206,N,25.0,0.0,38.3,2015-07-20 16:48:24,2015-07-20 16:33:20,2.4,NaN
7530407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.763721,-73.973145,N,25.0,0.0,56.3,2015-07-21 16:30:48,2015-07-21 16:00:09,8.4,NaN
10592655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.764160,-73.973419,N,25.0,0.0,40.8,2015-07-29 16:57:09,2015-07-29 16:36:17,2.3,NaN

In [76]:
del df7